*{
    padding: 0;
    margin: 0;
}

body{
 font-family: monospace;
 background: linear-gradient(100deg, #82E0AA, #AED6F1);
}

section{
    background: white;
    position: absolute;
    top: 20%;
    left: 40%;
    width: auto;
    border-radius: 20px;

}
section h2{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

section form{
    text-align: center;
    padding: 20px;
    width: auto;
    height: auto;
}

.formulario .grupo1{
    padding: 10px;
    margin: 5px;
}

.grupo1 label{
    position: absolute;
    top: 80px;
    font-size: 13px;
}

.formulario .grupo2{
    padding: 10px;
    margin: 5px;
}

.grupo2 label{
    position: absolute;
    top: 125px;
    font-size: 13px;
}

.formulario .grupo3{
    padding: 10px;
    margin: 5px;
}

.grupo3 label{
    position: absolute;
    top: 170px;
    font-size: 13px;
}

.formulario .grupo4{
    padding: 10px;
    margin: 5px;
}

.grupo4 label{
    position: absolute;
    top: 215px;
    font-size: 13px;
}

.formulario .grupo5{
    padding: 10px;
    margin: 5px;
}

.grupo5 label{
    position: absolute;
    top: 260px;
    font-size: 13px;

}
input{
    width: 150px;
}

.boton{
    text-align: center;
    padding: 5px;
}

header{
    text-align: center;
    padding: 10px;
}







